{{!-- {{>boxList boxPadding=false boxShadow=false overflowHidden=true maxHeight='max_height-150@s' minHeight='min_height-100@s' iconSecondary=false icon='fas fa-angle-right'}} --}}
<!-- categray content -->
{{#if boxPadding}}
<div class="{{#if boxShadow}}tw-shadow hover:tw-shadow-xl uk-card uk-card-default {{else}}tw-p-3{{/if}}">
  {{#if overflowHidden}}
  <div class="overflow_hidden@s {{maxHeight}}">
    <div class="{{minHeight}}">
      <ul class="tw-mt-0 tw-text-justify uk-list">
        <li>
          <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
            <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020/09/16</time></div>
            <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">香級過集樂區非世不品，是增樹千了完心元義</a>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
            <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
            <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">同有了地得在：消關知過外會。岸多說國裝吃政內現不用展星不據他食行備對門，整長機！</a>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
            <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
            <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">美夫室個年路代蘭裡、青學最</a>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
            <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
            <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">這中國靈點之起感；系說筆？算地他似的只，些股與買業為，術字人然個面園未政招要作前動常便</a>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
            <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
            <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">實作率寫也中面人自國，老年正有要命飛不？容大了政。他草上話石義負，同部意是來飛過高傳，來布對同候的臺於立我在要日人朋</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  {{else}}
  <div class="{{minHeight}}">
    <ul class="tw-mt-0 tw-text-justify uk-list">
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020/09/16</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">香級過集樂區非世不品，是增樹千了完心元義</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">同有了地得在：消關知過外會。岸多說國裝吃政內現不用展星不據他食行備對門，整長機！</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">美夫室個年路代蘭裡、青學最</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">這中國靈點之起感；系說筆？算地他似的只，些股與買業為，術字人然個面園未政招要作前動常便</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">實作率寫也中面人自國，老年正有要命飛不？容大了政。他草上話石義負，同部意是來飛過高傳，來布對同候的臺於立我在要日人朋</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {{/if}}
</div>
{{else}}
{{#if overflowHidden}}
<div class="overflow_hidden@s {{maxHeight}}">
  <div class="{{minHeight}}">
    <ul class="tw-mt-0 tw-text-justify uk-list">
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020/09/16</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">香級過集樂區非世不品，是增樹千了完心元義</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">同有了地得在：消關知過外會。岸多說國裝吃政內現不用展星不據他食行備對門，整長機！</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">美夫室個年路代蘭裡、青學最</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">這中國靈點之起感；系說筆？算地他似的只，些股與買業為，術字人然個面園未政招要作前動常便</a>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
          <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
          <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">實作率寫也中面人自國，老年正有要命飛不？容大了政。他草上話石義負，同部意是來飛過高傳，來布對同候的臺於立我在要日人朋</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{{else}}
<div class="{{minHeight}}">
  <ul class="tw-mt-0 tw-text-justify uk-list">
    <li>
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020/09/16</time></div>
        <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">香級過集樂區非世不品，是增樹千了完心元義</a>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
        <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">同有了地得在：消關知過外會。岸多說國裝吃政內現不用展星不據他食行備對門，整長機！</a>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
        <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">美夫室個年路代蘭裡、青學最</a>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
        <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">這中國靈點之起感；系說筆？算地他似的只，些股與買業為，術字人然個面園未政招要作前動常便</a>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <div class="min_width-100 uk-width-auto"><i class="{{#if iconSecondary}}color_secondary {{else}}color_primary {{/if}}{{icon}} fa-fw"></i><time class="tw-mr-2">2020-09-15</time></div>
        <div class="uk-width-expand"><a class="tw-inline uk-text-break" href="#">實作率寫也中面人自國，老年正有要命飛不？容大了政。他草上話石義負，同部意是來飛過高傳，來布對同候的臺於立我在要日人朋</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{{/if}}
{{/if}}
<!-- /categray content -->