{{!-- {{> listText card=false columnClass=' uk-grid-column-medium uk-grid-row-small uk-child-width-1-2 uk-child-width-1-4@m' iconPrimary=true iconSecondary=false icon='fas fa-circle fa-xs' time=false}} --}}
<!-- list -->
<div class="list tw-py-3{{class}}{{#if card}} tw-shadow hover:tw-shadow-xl uk-card uk-card-default{{/if}}">
  <!-- grid -->
  <div class="uk-grid{{columnClass}}" uk-grid>
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">人體解剖學</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">工程圖學</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">內分泌學名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">力學名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">工業工程名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">化學工程名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">土木工程名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">中小學常用中英雙語詞彙彙編</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">化學工程名詞-兩岸化學工程名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">土壤學名詞</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">中央研究院臺灣物種名錄</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
    <!-- item -->
    <div{{#if itemClass}} class="tw-py-2"{{/if}}>
      <!-- grid -->
      <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
        <!-- icon -->
        <div class="{{minWidth}}uk-width-auto"><i class="{{#if iconPrimary}}color_primary {{/if}}{{#if iconSecondary}}color_secondary {{/if}}{{icon}} fa-fw"></i>{{#if time}}<time class="tw-mr-2">2020/09/16</time>{{/if}}</div>
        <!-- /icon -->
        <!-- text -->
        <div class="uk-width-expand"><a class="tw-text-break" href="#">化學名詞-不飽和雜環化合物及結構式</a></div>
        <!-- /text -->
      </div>
      <!-- /grid -->
    </div>
    <!-- /item -->
  </div>
  <!-- /grid -->
</div>
<!-- /list -->